<template>
    <!-- Layout membantu kita ketika kita ingin mengubah tampilan dari Nuxt app -->
    <div>
        <header>
            <nuxt-link to="/about">About</nuxt-link>
            <nuxt-link to="/contact">Contact</nuxt-link>
            <nuxt-link to="/user">User</nuxt-link>
        </header>
        <Nuxt />
        <footer>
            <p>&copy; 2021 - kelas.nuxt</p>
        </footer>
    </div>
</template>

<style>
body {
    font-family: sans-serif;
    margin: 15%;
    font-size: 16px;
    font-size: 16px;
    word-spacing: 1px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smooting: grayscale;
    -webkit-font-smooting: antialiased;
    box-sizing: border-box;
    text-align: center;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

.button--green {
    display: inline-block;
    border-radius: 4px;
    border: 1px solid #3b8070;
    color: #3b8070;
    text-decoration: none;
    padding: 10px 30px;
}
</style>