<template>
    <div>
        <h1>Hello Nuxt!</h1>
        <nuxt-link to="/about">About</nuxt-link>
        <nuxt-link to="/contact">Contact</nuxt-link>
    </div>
</template>

<style>
    body {
        font-family: sans-serif;
        margin: 5%;
    }
</style>