<template>
    <!-- Penjelasan Parameter Opsional: tanpa index.vue, menandakan bahwa parameter file '_slug.vue' adalah opsinal (tidak mengakibatkan error) -->
    <main v-if="$route.params.slug"> <!-- Apabila parameter slug isi, maka render di bawahnya. Sebaliknya dengan v-else -->
        <h1 v-text="'Blog ' + $route.params.slug"></h1>
    </main>
    <main v-else>
        <h1>List of Blog</h1>
    </main>
</template>