<template>
    <!-- Menerapkan dynamic route, mengambil nilai dari nama file Vue (ditandai dengan underscore) -->
    <h1>User - Profile {{ $route.params.id }}</h1>
</template>

<script>
export default {
    validate({ params }) {
        // Parameter yang dimasukkan harus berupa number
        return /^\d+$/.test(params.id) // Fungsi regex dari JS
    }
}
</script>